<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="navbar" style="text-align: left">

    <div id="google_translate_element"></div>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script> function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>

</head>
<title>Crime</title>

<body style="background-image: url('https://static.vecteezy.com/system/resources/previews/025/322/438/non_2x/weathered-antique-wallpaper-with-spotted-stains-and-rusty-frame-generated-by-ai-free-photo.jpg'); /* Replace with your actual image URL */
background-size: cover;
background-position: center;
height: 100vh;
margin: 0;
display: flex;
justify-content: center;
text-align: center;
font-size:30px;"
      sec:authorize="isAuthenticated()">

<div class="container-fluid">
    <h2 class="text-center mt-5">Crime stories</h2>
    <div class="offers">
        <div th:each="story: ${crime}" th:object="${story}" class="offer card col-sm-6 col-md-3 col-lg-2 m-1 p-0" style="
    background-color: rgba(255,255,255,0.59);
  color: #fff;">
            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{getStoryName()}" style="align-items: center;

color: #000000;
">The name of the story</h5>
            </div>
            <ul class="offer-details list-group list-group-flush" style="align-items: center;
justify-content: center;
text-align: center;
color: #000000;
list-style: none;">
                <li>
                    <div >
                        <th:block th:text="*{getAuthorName()}"  >The name of the author</th:block>
                    </div>
                    <div>
                        <th:block th:text="*{getStoryContent()}" >The story</th:block>
                    </div>
                </li>
            </ul>
            <form th:action="@{/story/{id}(id=${story.getId()})}" method="post">
                <button sec:authorize="hasRole('ADMIN')" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>