<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head></head>-->
<!--<body>-->
<!--<header></header>-->
<!--<main>-->
<!--    <div class="container-fluid bg-blur rounded mt-1 mb-4 d-flex justify-content-center" id="big-div">-->

<!--        <div class="col-5">-->
<!--            <h3 class=" bg-gray text-dark  mb-0 mt-2">Assigned to me</h3>-->
<!--            <h6 class=" bg-gray text-dark  mb-0 mt-0" > </h6>-->
<!--            <div class="bg-dark rounded m-auto" style="height: 67vh; overflow: auto">-->
<!--                <ul   class="list-group list-group-horizontal text-dark">-->
<!--                    <li class="list-group-item bg-warning">-->
<!--                        <table>-->
<!--                            <tr>-->
<!--                                <td scope="row" style="width: 5%"><img class="mr-2 " src="/img/pin.png" alt="Pin" width="35px" height="35px"></td>-->
<!--                                <td style="width: 15%">{priority}</td>-->
<!--                                <td style="width: 40%">{dueDate}</td>-->
<!--                                <td>-->
<!--                                    <form>-->
<!--                                        <button type="submit"><img src="/img/done-remove-button.png" height="35px" th:class="buttonStyle"></button>-->
<!--                                    </form>-->
<!--                                </td>>-->

<!--                                <td>-->
<!--                                    <form>-->
<!--                                        <button  type="submit"><img src="/img/return.png" height="35px" th:class="buttonStyle" ></button>-->
<!--                                    </form>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </li>-->
<!--                    <li class="list-group-item list-group-item-warning text-dark">-->
<!--                        <a>Read</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->


<!--    </div>-->
<!--</main>-->
<!--<footer></footer>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickable Pictures</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            height: 100vh;
        }

        .half {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            cursor: pointer;
        }

        .half img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
<a th:href="@{/story/read}" class="half">
    <img src="image1.jpg" alt="Clickable Picture 1">
</a>

<a th:href="@{/story/write}" class="half">
    <img src="image2.jpg" alt="Clickable Picture 2">
</a>
</body>
</html>