<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Writing Website</title>
</head>
<body>

    <header>
        <h1>Your Writing Website</h1>
        <p><b>Welcome to Write your story!</p>
    </header>

    <section>
        <h2>About Us</h2>
        <p>Our mission is ... </p>

        <h2>Featured Articles</h2>
        <p>Highlight some of your best or latest articles. Provide a glimpse into the diverse topics your writers cover.</p>
    </section>

    <footer>
        <p>&copy; 2023 Your Writing Website. All rights reserved.</p>
    </footer>

</body>
</html>